<div class="container">
	<div class="row">&nbsp;</div>
	<div class="row">&nbsp;</div>
	<div class="row">&nbsp;</div>

	<div class="row" style="text-align: center;">
		<b>COURSES PAGE</b>
	</div>

</div>